


/* media for max-width: 576px  */

@media only screen and (max-width: 576px){

    /* Header area */
    .header .navbar .row{
        margin: 0;
    }

    .header .navbar .collapse .wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
    }

    .header .navbar .collapse .navbar-nav .nav-link{
        margin: 7px 0;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 25.5738px;
        line-height: 42px;
        color: #000000;
    }
    
   
    /* Main area */
    /* banner section */
    .banner-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
    
    }
    
    
    .banner-wrapper .banner-text{
        width: 100%;
        text-align: center;
    }
    
    .banner-wrapper .banner-img{
        width: 100%;
        text-align: center;
        position: relative;
        margin-top: 2rem;
    }
    

    .banner-wrapper .banner-text .banner-black-title{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 4rem; 
        line-height: 4rem;
        color: #000000;
        margin-top: 2rem;  
    }
    
    .banner-wrapper .banner-text .banner-green-title{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 4rem;
        line-height: 4rem;
        color: #90E051; 
    }
    
    .banner-wrapper .banner-text .banner-paragraf{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #000000;
        width: 80%;
        margin: 0 auto 2rem;
    }
    
    .banner-wrapper .banner-img .banner-price{
        position: absolute;
        top: 0;
    }

    /* banner end */



    /* Teaser section start */

    .teaser-wrapper{
        display: flex;
        flex-direction: column;
    }
    /* Teaser section end */


    /* Menu section start */
    .menu .menu-search{
        display: flex;
        justify-content: center;
    }
    /* Menu section end */


    /* Customer review section */
    .customer{
        height: 100%;
        width: 100%;

        margin: 10rem 0;

    }


    .customer-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        
    }

    .customer-wrapper .customer-text{
        padding: 10%;
        width: 100%;
        text-align: center;

    }

    .customer-wrapper .customer-img{
        width: 100%;
        position: relative;
    }

    .customer-wrapper .customer-name-box{
        display: flex;
        justify-content: space-between;

    }
    .customer-wrapper .customer-name-box img{
      width: 70px;
      height: 70px;
    }

    .customer-wrapper .customer-name-box .left-right{
        margin-left: 0%;
    }

    .customer-img-right{
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
     }

     .customer-img .order-now-card{
        width: 70%;
        padding: 25px;
        background: #FFFFFF;
        box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
        border-radius: 10.6969px;
        position: absolute;
        top: 70%;
        left: 15%;
    }



      /* Customer review section end*/




      
  /* Mobile app section */
.mobile-app{
    height: 100%;
    width: 100%;
    margin: 30rem 0;
}

.mobile-wrapper{
    height: 100%;
    background: #90E051;
    
}


.mobile-wrapper .row{
    height: 100%;
}

.mobile-app-img{
    position: relative;
    margin-bottom: 15rem;
}

.mobile-app-img .mobile-sec-bg-burger-img{
    position: absolute;
    width: 60%;
    top: -180px;
}


.mobile-app-img .iPhone12Pro-big-img{
    position: absolute;
    width: 50%;
    top: -150px;
    left: 15%;
    z-index: 33;
}

.mobile-app-img .iPhone12Pro-sm-img{
    position: absolute;
    width: 40%;
    top: -70px;
    left: 40%;
    z-index: 32;
}

.mobile-app-text{
   position: relative;
   margin-top: 10rem;
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;
}

.mobile-app-text p{
    padding-top: 10%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;
    width: 70%;
    color: #FFFFFF;
    text-align: center;
    
}

.mobile-sec-bg-burger-img2-right{
    position: absolute;
    right: 0;
    top: 70%;
    width: 20%;
}



}