*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik";
}





/* =========== Header ========= */
.header{
    width: 100%;
}
.header .navbar{
    padding-top: 20px;
    background-color: #fff;
}

.header .navbar .navbar-brand img{
    width: 80px;
}


.header .navbar .collapse .navbar-nav .nav-link{
    padding: 0 1.8rem;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 25.5738px;
    line-height: 42px;
    color: #000000;
}

.header .navbar .collapse .navbar-nav .nav-link.active{
    color: #90E051;
}

.header .navbar .collapse .navbar-nav .nav-link:active{
    color: #90E051;
}

.header .navbar .collapse .nav-user-element{
    margin: auto 1rem;
}


.header .navbar .collapse .wrapper{
    display: flex;
    justify-content: space-between;

}



/* ============= Main area ================ */

.main{
    height: 100%;
}

/* Banner section */

.banner{
    width: 100%;
    height: 100%;
}

.banner-wrapper{
    display: flex;
    justify-content: space-between;

}


.banner-wrapper .banner-text{
    width: 50%;
}

.banner-wrapper .banner-img{
    width: 50%;
}


.banner-wrapper .banner-text .banner-black-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem; 
    line-height: 7rem;
    color: #000000;
    margin-top: 6rem;  
}

.banner-wrapper .banner-text .banner-green-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7rem;
    color: #90E051; 
}

.banner-wrapper .banner-text .banner-paragraf{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000000;
    width: 80%;
}


.banner-wrapper .banner-text .banner-btn1{
    width: 156px;
    height: 60px;
    background-color: #90E051;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}


.banner-wrapper .banner-text .banner-btn2{
    width: 156px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    color: #90E051;
    font-size: 1.2rem;
    font-weight: 600;
}


.banner-wrapper .banner-img img{
    width: 82%;
}

.banner-wrapper .banner-img .banner-price{
    height: 100px;
    width: 100px;
    background-color: #90E051;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
}

.banner-wrapper .banner-img .banner-price p{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

/* banner end */






/* Teaser section start */
.teaser{
    width: 100%;
    height: 100%;
    margin: 5rem 0;
}

.teaser-wrapper{
    display: flex;
    justify-content: center;
}

.teaser-wrapper .teaser-box{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.teaser-wrapper .teaser-box h3{
    margin: 10px 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 15.9429px;
    line-height: 21px;
    color: #000000;
}

.teaser-wrapper .teaser-box h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

/* Teaser section end */


/* Menu section start */

.menu{
    height: 100%;
    width: 100%;
    background: url("../fast-food-images/menu-imgs/bg-burger.png") no-repeat;
    background-size: 25%;
    background-position: 0 50%;
}

.menu .menu-wrapper{
    height: 100%;
    width: 100%;
    background-color: #90E051;
    box-shadow: 0px 17px 111px -22px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    padding: 25px;

}

.menu .menu-search{
    
    height: 15%;
    /* position: relative;
    top: 15%; */
    margin-top: 25px;
}

.menu .menu-search .menu-form{
    width: 250px;
    height: 45px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-left: 5%;
   

}

.menu .menu-search .menu-form button{
    width: 20%;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
}


.menu .menu-search .menu-form input{
    
    height: 45px;
    background-color: #fff;
    border: none;
    width: 80%;
    border-radius: 20px;
    outline: none;
}


.menu .menu-wrapper .menu-cards{
    width: 100%;
   
    height: 85%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu .menu-wrapper .menu-cards .menu-card{
    height: 273px;
    width: 232px;
    margin-top: 45px;
    background: #FFFFFF;
    box-shadow: 0px 5.84756px 36.5472px -7.30945px rgba(0, 0, 0, 0.25);
    border-radius: 23.3902px;
    padding: 0 22px 25px 22px;
}


.menu .menu-wrapper .menu-cards .menu-card .card-img{
    position: relative;
    top: -35px;
    text-align: center;
}


.menu .menu-wrapper .menu-cards .menu-card .card-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16.7873px;
    line-height: 20px;
    letter-spacing: -0.025em;
    color: #000000;
    position: relative;
    top: -12px;
}

.menu .menu-wrapper .menu-cards .menu-card .card-text{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2047px;
    line-height: 17px;
    letter-spacing: -0.025em;

    color: #000000;
}

.menu .menu-cards .menu-card .rating .fa-star{
    color: #FFF500;
    margin-right: 10px;
}

.menu .menu-cards .menu-card .price-plus{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.menu .menu-cards .menu-card .price-plus .price{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 19.5955px;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: #90E051;
}

.menu .menu-cards .menu-card .price-plus .price span{
    font-size: 15.5955px;
    font-weight: 600;
}

.menu .menu-cards .menu-card .price-plus .plus{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #90E051;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    box-shadow: 0px 5px 18.1959px -1.39968px rgba(0, 0, 0, 0.25);
}





/* Menu section end */




  /* Customer review section */
.customer{
    height: 100%;
    width: 100%;

    margin: 10rem 0;

}


.customer-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}

.customer-wrapper .customer-text{
    padding-top: 10%;
    width: 50%;

}

.customer-wrapper .customer-text h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 60.4566px;
    line-height: 71px;
    color: #333333;
}

.customer-wrapper .customer-text > p{       
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20.1522px;
    line-height: 30px;
    color: #828282;
    margin: 2rem 0;
}

.customer-wrapper .customer-name-box{
    display: flex;

}


.customer-wrapper .customer-name-box h3{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 22.6712px;
    line-height: 33px;
    color: #90E051;
}
.customer-wrapper .customer-name-box p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8392px;
    line-height: 28px;
    color: #828282;
}

.customer-wrapper .customer-name-box .left-right{
    margin-left: 20%;
}

.customer-wrapper .customer-name-box .left-right i{
    margin: 5px;
    font-size: 19px;
}

.fa-arrow-left{
    color: #0e0e0ea6;
}


.customer-img{
    width: 50%;
}


.customer-img-right{
    width: 100%;
    text-align: right;
    margin-top: 3rem;
 }
 

.customer-img-right img{
   width: 80%;
}






.customer-img .order-now-card{
    width: 70%;
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 5.03805px 50.3805px rgba(0, 0, 0, 0.1);
    border-radius: 10.6969px;
    position: relative;
    top: -10%;
}

.customer-img .order-now-card .order-title h2{
    font-weight: 700;
    font-size: 25.1902px;
    line-height: 35px;
}


.customer-img .order-now-card .order-title p{
    font-weight: 700;
    font-size: 20.1522px;
    line-height: 30px;
}

.customer-img .order-now-card .stars{
    color:#90E051;
    font-size: large;
}

.customer-img .order-now-card > p
{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20.1522px;
    line-height: 30px;
    color: #828282;
    margin-top: 5px;
}

  /* Customer review section end*/



  /* Mobile app section */
.mobile-app{
    height: 100%;
    width: 100%;
    margin: 15rem 0;
}

.mobile-wrapper{
    height: 370px;
    background: #90E051;
    
}

.mobile-wrapper .row{
    height: 100%;
    width: 100%;
    margin: 0;
}

.mobile-app-img{
    position: relative;
}

.mobile-app-img .mobile-sec-bg-burger-img{
    position: absolute;
    width: 60%;
    top: -180px;
}


.mobile-app-img .iPhone12Pro-big-img{
    position: absolute;
    width: 50%;
    top: -150px;
    left: 30%;
    z-index: 33;
}

.mobile-app-img .iPhone12Pro-sm-img{
    position: absolute;
    width: 40%;
    top: -70px;
    left: 55%;
    z-index: 32;
}

.mobile-app-text{
   position: relative;
}

.mobile-app-text p{
    padding-top: 10%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.7rem;
    width: 70%;
    color: #FFFFFF;
}

.mobile-sec-bg-burger-img2-right{
    position: absolute;
    right: 0;
    top: 50%;
    width: 20%;
}

  /* Mobile app section end */





/* About us section start */

.about-us{
    height: 100%;
    margin: 15rem 0;
}
.about-text-box{
    background: #FFFFFF;
    box-shadow: 0px 6.10138px 61.0138px rgba(0, 0, 0, 0.1);
    border-radius: 12.9546px;
    width: 90%;
    position: relative;
    left: 150px;
    top: 200px;
    padding: 25px;
}


.about-text-box h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32.2598px;
    line-height: 58px;
    color: #000000;
}



.about-text-box p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 41px;
    color: #828282;
}

.about-text-box img{
    position: absolute;
    top: -70px;
    left: -45px;
    width: 25%;
}



.about-us-img .about-us-right-img{
    width: 70%;
}

.about-us-img .about-us-right-img2{
    width: 22%;
    position: relative;
    right: 10%;
    top: 50%
}
/* About us section end */



/* Subscribe  */
.subscribe{
    height: 100%;

}
.subscribe-wrapper{  
    width: 70%;
    margin: 0 auto; 
    height: 220px; 
    background: #FFFFFF;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    align-items: center;
    padding: 15px;

}


.subscribe .sub-title{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #90E051;
}

.sub-inp form{
    display: flex;
}

.sub-inp form input{
    width: 65%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #90E051;
    outline: none;
    
}

input::placeholder{
    padding-left: 15px;
}
.sub-inp form button{
    width: 35%;
    height: 50px;
    background-color: #90E051;
    border: 1px solid #90E051;
    color: white;
}

.sub-social{
    display: flex;
    justify-content: center;
}
.sub-social div{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #90E051;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

}




/* Subscribe end */

/* Footer area start */
.footer{
    background-image: url(../fast-food-images/footer-bg-img.png);
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;

}
/* Footer area end */